apiVersion: v1
kind: Service
metadata:
  name: bookservice
spec:
  selector:
    app: bookservice
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: userservice
spec:
  selector:
    app: userservice
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: apigateway
spec:
  selector:
    app: apigateway
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30082
  type: NodePort
